{% extends 'Isite/base.html' %}
{% block contend %}
<h1 class="display-1" style="position: relative; left:10%"> Что это за сайт и кто его создал?</h1>
<p class="text-muted" style="position: relative; left:30%"> Этот сайт был создан Андреем Малявиным как проба его <br>
    способностей в создание сайтов на языке Python при помощи <br>
    Django. На этом сайте я собираюсь записывать видеоигры, <br>
    Комиксы, Радео технику и другие мои развлечения. </p>
    <nav class="navbar navbar-light" style="background-color: black; position: absolute; bottom: 0%; color: white; width: 100%; height: 300px"> Сайт был создан для обучения и не несет в себе попытки обогощения.Спасибо за внимание</nav>
{% endblock %}