{% extends 'Isite/base.html' %}
{% block contend %}
{% load static %}
    {% for j in com %}
         <div style="    grid-gap: 1px;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        justify-items: center;">
        {% for i in j%}
        {% if i.image_one %}
             <div style="width: 250px; height: 350px; position: relative; left: 5%">
                <div>
                    <a href="{% url 'number' i.id %}"><img src="{{ i.image_one.url }}" alt="фото" style="width: 200px; height: 300px"/>
                        <p class="text-muted"> {{i.title}} </p></a>
                </div>
             </div>
        {% endif%}
        {% endfor %}
        </div>
        <br>
    {% endfor %}


{% endblock %}