{% extends 'Isite/base.html' %}
{% block contend %}
{% load static %}
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<!-- Image Slider w/ Captions -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div style="    grid-gap: 1px;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        justify-items: center;">

        <div id="my-carousel" class="carousel slide" data-ride="carousel" data-interval="false" style='width:600px; height:900px; position:relative; left:5%; top:5%'>
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#my-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" style='width:600px; height:900px; position'>

                <div id="1" class="item active">
                    <img class="img-fluid d-block w-100" alt="First slide" src="{{ nomer.image_one.url }}" style='width:600px; height:900px'>
                    <div class="carousel-caption">
                        <h3>Обложка передняя сторона</h3>
                    </div>
                </div>

                <div id="3" class="item">
                    <img class="img-fluid d-block w-100" alt="Third slide" src="{{ nomer.image_two.url }}" style='width:600px; height:900px'>
                    <div class="carousel-caption">
                        <h3>Обложка задняя сторона</h3>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
<div>
        <H1 style='position:relative; left:125%; top:15%'>
{{ nomer.title }}</H1>
    <div style="    grid-gap: 1px;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        justify-items: center;
        position:relative; top: 180px; left: 110%
        ">
        {% for i in li %}
        {% if i <= nomer.mark%}
        <img src="{% static 'comics/img/star.png'%}" style="width: 50px; height:50px">
        {% else %}
        <img src="{% static 'comics/img/star2.png'%}" style="width: 50px; height:50px">
        {% endif %}
        {% endfor %}
    </div>
    <br>
</div>
</div>
<div style='position:relative; left:0%; top:100px;   border: 6px solid gray; border-radius: 20px;'>
    <p class="text-muted" style='font-size: 20px '> {{ nomer.description}}</p>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}